{:optimizations :none, :asset-path "main.out", :output-dir "/Users/hanyu/.boot/cache/tmp/Users/hanyu/Documents/git/HanWork/funcgame/g1/b90/368sui/main.out", :output-to "/Users/hanyu/.boot/cache/tmp/Users/hanyu/Documents/git/HanWork/funcgame/g1/b90/368sui/main.js", :main boot.cljs.main3476, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__781 0x3c65aa2b "adzerk.boot_cljs.impl$compile_cljs$handler__781@3c65aa2b"]]}